footer#footer.bg-2
	span
		| Copyright © 
		span#cDate
		|  Mitchell Jones
script.
	function scrollTo(id, time) {
		$('html, body').animate({
			scrollTop: $('#'+id).offset().top
		}, time);
	}
	var isHome = document.title == 'Mitchell Jones';
	/* Premade functions so we don't have to check isHome on every click. */
	function scr() {
		scrollTo($(this).attr('to'), 1000);
	}
	function lnk() {
		window.location.href = 'https://www.mitchelljones.com/?scroll='+$(this).attr('to');
	}
	if (isHome)
		$('.jlink').click(scr);
	else
		$('.jlink').click(lnk);
	/* Look for scroll parameter in URL and scroll */
	var params = new URLSearchParams(window.location.search);
	if (params.has('scroll'))
		scrollTo(params.get('scroll'),1000);
	/* Set footer copyright year */
	$('#cDate').html(new Date().getFullYear());