header#header.noselect
	nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-inverse.main-nav
		ul.nav.navbar-nav.flex-grow.justify-content-start
			li.nav-item
				a#l-projects.nav-link.jlink Projects
			li.nav-item
				a#l-about.nav-link.jlink About
			//- li.dropdown
			//- 	a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#') More
			//- 	ul.dropdown-menu
			//- 		li
			//- 			a.dropdown-item(href='/favsites') Favorite Websites
			//- 		li
			//- 			a.dropdown-item(href='/rolemodels') Role Models
		ul.nav.navbar-nav.flex-grow.justify-content-center
			li.nav-item
				a#l-home.nav-link.heavy.jlink MITCHELL JONES
		ul.nav.navbar-nav.flex-grow.justify-content-end
			li.nav-item
				a#l-cv.nav-link(href='/cv') CV
			li.nav-item
				a#l-contact.nav-link.jlink Contact
