extends layout

block head
	title Error

block content
	div(style='padding:20px;')
		h1 Something went wrong.
		p= message
		p= error.status
		p= error.stack
		a(href='https://www.mitchelljones.com') Take me back!
