.sidebar-nav {
	width:100%;
	margin: 0;
	padding: 35px;
	list-style: none;
	min-width:300px;
}

.sidebar-nav li {
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #292b2c;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #000;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.markdown-body {
	padding:20px;
}

.markdown-body > p > img, .markdown-body > video {
	width:60%;
}