// included in every page
include ./gtag.pug
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
// JQuery
script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
// Bootstrap CSS
link(rel='stylesheet', href='/css/bootstrap.min.css')
include ./favicos.pug
// my stuff
link(rel='stylesheet', href='/css/main.min.css')
script(src='/js/functions.min.js')