@import 'includes/hexagons.scss';

@font-face {
  font-family: 'Mosk';
  src: url('/fonts/Mosk/Mosk Extra-Bold 800.ttf');
  font-weight: 800;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-size: 112.5%;
}

h1 {
  font-size: 2em;
}

section {
  width: 100%;
  padding: 50px;
}

#random img {
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: -25px;
  cursor: pointer;
}

#top {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > {
    h1 {
      font-size: 7.5vw;
      font-family: 'Mosk';
      text-transform: uppercase;
      font-weight: 800;
      margin:0.5rem !important;
    }

    nav {
      width: 100%;
      max-width: 700px !important;
    }
  }

  .navbar-nav {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    justify-content: space-around !important;
  }

  .nav-link {
    font-size: 23px;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
}

hr {
  width: 35px;
  height: 3px;
  background-color: black;
  border: 0;
}

#abt-demo {
  padding: 5px 0 0 10px;
  z-index: 1;
}

#projects {
  background-color: white;
}

#hexGrid {
  position: relative !important;
  z-index: 2 !important;
}

#about {
  /*clip-path: polygon(0 0, 100% 2vw, 100% calc(100% - 2vw), 0 100%);*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  img {
    width: 500px;
    max-width: 80%;
    margin: 0 40px 0 40px;
  }
}

#etc {
  padding: 25vh 0 25vh 0;
}

#contact {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px !important;
}

.jumbotron {
  padding: 1rem !important;
  background-color: rgba(236, 238, 239, 0.8);
}

.c-item {
  padding: 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profilepic > img {
  height: 175px;
  width: 175px;
  border-radius: 5px;
  margin-right: 10px;
}

.contactinfo {
  margin-left: 10px;

  > {
    h2 {
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      line-height: 10px;
    }
  }
}

@media only screen and (min-width: 1150px) {
  .abt {
    max-width: 1050px;
  }
}

@media only screen and (max-width: 1150px) {
  #about {
    flex-direction: column;

    img {
      margin: 0 0 40px 0;
    }
  }
}

@media only screen and (max-width: 770px) {
  #blurb {
    > h1 {
      font-size: 7.8vw;
    }

    .navbar-nav {
      font-size: 2.8vw;
    }

    .nav-link {
      font-size: 3.75vw;
    }
  }

  #projects {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 650px) {
  .contactinfo > h2 {
    font-size: 37px;
  }
}

@media only screen and (max-width: 550px) {
  #contact {
    padding: 20px !important;
  }

  .contactinfo > {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 0.8em;
      line-height: 4px;
    }
  }

  .profilepic > img {
    height: 125px;
    width: 125px;
  }
}

@media only screen and (max-width: 450px) {
  #contact {
    padding: 15px !important;
  }
  .contactinfo > {
    h2 {
      font-size: 1.1em;
      margin-bottom: 15px;
    }
    p {
      font-size: 0.6em;
      line-height: 0.1px;
    }
  }
  .profilepic > img {
    height: 100px;
    width: 100px;
  }
}