@import 'includes/normalize.scss';

.body, .html {
  margin: 0;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: auto;
  margin: 0;
  padding: 0;
}

.stretch {
  width: 100%;
  height: 100%;
}

.cbg {
  position: absolute;
}

.front {
  z-index: 2;
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}

#sidebar {
  flex-grow: 1;
  padding: 30px;
}

.sidebar-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: auto;

  li {
    line-height: 40px;
    white-space: nowrap;

    a {
      display: block;
      text-decoration: none;
      color: #292b2c;

      &:hover {
        text-decoration: none;
        color: #000;
      }

      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
}

.markdown-body {
  min-width: 700px;
  padding: 20px;

  > {
    p > img, video {
      width: 60%;
    }
  }
}

/*.content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}*/

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.botright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.botleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.noselect {
  -webkit-touch-callout: none;

  /* iOS Safari */
  -webkit-user-select: none;

  /* Chrome/Safari/Opera */
  -khtml-user-select: none;

  /* Konqueror */
  -moz-user-select: none;

  /* Firefox */
  -ms-user-select: none;

  /* Internet Explorer/Edge */
  user-select: none;

  /* Non-prefixed version*/
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-inverse {
  background-color: #292b2c !important;
}

.main-nav {
  border-radius: 0 !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}

.flex-grow {
  flex: 1;
}

#footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  min-height: 45px;
}

.nav-link {
  &:hover {
    cursor: pointer !important;
  }

  > img {
    height: 40px;
    padding: 0;
    filter: opacity(50%);

    &:hover {
      filter: opacity(75%);
    }
  }
}

.heavy {
  padding: 0;
}

.a-1 {
  color: white !important;

  &:hover {
    color: lightgray !important;
  }
}

.heavy {
  font-weight: 700;
}

.ns {
  text-shadow: none !important;
}

.text-shadow {
  text-shadow: 0 0 10px #000000;
}

.white {
  background-color: white !important;
}

.black {
  background-color: black !important;
}

.t-white {
  color: white !important;
}

a.t-white {
  &:hover {
    color: lightgrey !important;
  }

  &:active {
    color: grey !important;
  }
}

.t-black {
  color: black !important;
}

a.t-black {
  &:hover {
    color: grey !important;
  }

  &:active {
    color: lightgrey !important;
  }
}

.t-1 {
  color: #e7eff6 !important;
}

.t-2 {
  color: #2a4d69 !important;
}

.t-3 {
  color: #4b86b4 !important;
}

.t-4 {
  color: #63ace5 !important;
}

.t-5 {
  color: #e7eff6 !important;
}

.bg-1 {
  background-color: #e7eff6 !important;
}

.bg-2 {
  background-color: #00688b !important;
}

.bg-3 {
  background-color: #4b86b4 !important;
}

.bg-4 {
  background-color: #63ace5 !important;
}

.bg-5 {
  background-color: #e7eff6 !important;
}

.bg-6 {
  background-color: #16a6b6 !important;
}

.bg-grad {
  background: linear-gradient(180deg, #0e638a, #1f364d);
}

.btn-light {
  color: #373737;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
  }
}